html, body, div {
	margin: 0;
	padding: 0;
}

path {
	fill: none;
	stroke: #900;
	stroke-width: 3px;
}

#sagittalschnitt {
	opacity: 0.5;
	z-index: 999;
	position: absolute;
}

#vorlage {
	z-index: -999;
	opacity: 0.7;
	position: absolute;
}