#tier1 {
	grid-area: tier1;
	background-color: #000000;
}
#tier2 {
	grid-area: tier2;
	background-color: #ff0000;
}
#tier3 {
	grid-area: tier3;
	background-color: #66ff99;
}
#tier4 {
	grid-area: tier4;
	background-color: #339933;
}
#tier5 {
	grid-area: tier5;
	background-color: #99ccff;
}
#tier6 {
	grid-area: tier6;
	background-color: #0000ff;
}
#tier7 {
	grid-area: tier7;
	background-color: #ffff4d;
}
#tier8 {
	grid-area: tier8;
	background-color: #ff6600;
}
#tier9 {
	grid-area: tier9;
	background-color: #992600;
}
#nav {
	grid-area: nav;
	background-color: #ff00ff;
}
#header {
	grid-area: header;
	background-color: #66ccff;
}
#grid {
	display: grid;
	grid-template-areas: 'header header header nav'
	'tier1 tier2 tier3 nav'
	'tier4 tier5 tier6 nav'
	'tier7 tier8 tier9 nav';
	grid-template-columns: 1fr 2fr 4fr 1fr;
	grid-template-rows: 3fr 2fr 1fr;
}